@import "../../../lib/styles/variables";

.communicationMessage {
  padding: 40px 32px;
  background-color: $global-color-gray-4;
  text-align: center;

  & &__title {
    font-size: 17px;
  }

  & &__description {
    margin-top: 16px;
  }
}
